/* Variables */
:root {
    /* Font */
    --font-family: 'Roboto Mono', monospace;
    /* Colors */
    --primary: #2071e7;
    --dark: #2980b9;
    --text: #333;
    --background: #fafafa;
    --hint: #999;
    --light: #00c3ff;
}

/* global CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: var(--font-family);
    color: var(--text);
    font-size: 1.6rem;
}

p {
    margin: 1rem 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0 2rem 0;
}

ul {
    list-style: none;
}

a {
    color: var(--text);
    text-decoration: none;
}

img {
    max-width: 100%;
}

/* setting up the grid */
.grid-container {
    display: grid;
    grid:
    "picture header" auto
    "aside main" 1fr
    / 350px auto;
    min-height: 100vh;
}

/* Style */

header {
    grid-area: header;
    min-height: 30rem;
    background: linear-gradient(to right, var(--primary), var(--light));
    padding: 10rem;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    font-size: 6rem;
    line-height: 8rem;
    font-weight: 300;
    letter-spacing: 3rem;
}

.stack {
    letter-spacing: 0.5rem;
}


.picture {
    grid-area: picture;
    padding: 6rem;
    background: var(--background);
}

.profilPicture {
    border-radius: 50%;
}

aside {
    grid-area: aside;
    background: green;
}

main {
    grid-area: main;
    background: purple;
}




